* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #8ec2da;
}
body {
  background-color: #281a5c;
}
div > span > svg > circle {
  color: #0f7263 !important;
}
div > div > div {
  color: white !important;
}

div > span:nth-child(n + 1) > span {
  background-color: #637471;
}
